@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0 !important;
    margin: 0;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

.line {
    fill: none;
    stroke: #f9f8f8;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.linedark {
    fill: none;
    stroke: #1F2937;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linedark1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.linedark2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.linedark3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.openedark .linedark1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.openedark .linedark2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.openedark .linedark3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.lineExperiences {
    fill: none;
    stroke: #6BC1E4;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lineExperiences1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.lineExperiences2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.lineExperiences3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.openeExperiences .lineExperiences1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.openeExperiences .lineExperiences2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.openeExperiences .lineExperiences3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

@keyframes progress {
    0% {
        stroke-dashoffset: 314;
        opacity: 1;
    }

    100% {
        stroke-dashoffset: 0;
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        stroke-dashoffset: 414;
        opacity: 2;
    }

    100% {
        stroke-dashoffset: 0;
        opacity: 0;
    }
}

.large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.large-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#large-header {
    z-index: 1;
}

.video-header {
    position: absolute;
    inset: 0px;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
        /* #000000 */
    ;
    --tw-bg-opacity: 0.5;
}

.opacitySound {
    position: absolute;
    z-index: 30;
    background: #8a898954;
    bottom: 2rem;
    right: 2rem;
    --tw-bg-opacity: 0.1;
    padding: 0.75rem;
    border-radius: 9999px;
}

.modal-scrollbar-pikaros::-webkit-scrollbar {
    width: 8px;
}

.modal-scrollbar-pikaros::-webkit-scrollbar-track {
    background: transparent;
}

.modal-scrollbar-pikaros::-webkit-scrollbar-thumb {
    background-color: #fdbb748d;
    border-radius: 6px;
}

.modal-scrollbar-pikaros {
    scrollbar-color: #fdbb748d transparent;
    /* Firefox */
    scrollbar-width: thin;
}

/*SECUNDARY*/

.modal-scrollbar-secundary::-webkit-scrollbar {
    width: 8px;
}

.modal-scrollbar-secundary::-webkit-scrollbar-track {
    background: transparent;
}

.modal-scrollbar-secundary::-webkit-scrollbar-thumb {
    background-color: #05173d;
    border-radius: 6px;
}

.modal-scrollbar-secundary {
    scrollbar-color: #05173d transparent;
    /* Firefox */
    scrollbar-width: thin;
}

/*WHITE*/

.modal-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.modal-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.modal-scrollbar::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 6px;
}

.modal-scrollbar {
    scrollbar-color: white transparent;
    /* Firefox */
    scrollbar-width: thin;
}