@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

.line {
    fill: none;
    stroke: #f9f8f8;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.linedark {
    fill: none;
    stroke: #1F2937;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linedark1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.linedark2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.linedark3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.openedark .linedark1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.openedark .linedark2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.openedark .linedark3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

@keyframes progress {
    0% {
        stroke-dashoffset: 314; /* Perímetro del círculo */
        opacity: 1; /* Comienza con opacidad 1 */
    }
    100% {
        stroke-dashoffset: 0; /* Completa el trazo */
        opacity: 0; /* Desaparece gradualmente */
    }
}

/* Animación de parpadeo del contenido central */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* Animación de desaparición del trazo mientras avanza */
@keyframes fade {
    0% {
        stroke-dashoffset: 414; /* Perímetro del círculo */
        opacity: 2; /* Comienza con opacidad 1 */
    }
    100% {
        stroke-dashoffset: 0; /* Completa el trazo */
        opacity: 0; /* Desaparece gradualmente */
    }
}